.infoList{
    margin: 2% 2%;
}

.infoList h2{
    color: #FFA619;
    padding-bottom: 10px;
    
}

.infoList p {
    text-align: center;
}

.styleInfo{
    display: flex;
    justify-content: center;
    text-align: center;
}