.introne{
    width: auto;
    height: 40vh;  
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;    
}

h2{
    text-align: center;
    font-size: 2em;   
    margin: auto;
}

p{
    text-align: right; 
    padding-bottom: 10px; 
    font-size: 1em;
}