.introne{
    width: auto;
    max-height: 250px;
    height: 30vh;  
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center; 
    z-index: 1;   
}

h2{
    text-align: center;
    font-size: 2.5em;   
    margin: auto;
    z-index: 2;
    
}

p{  
    text-align: right; 
    padding-bottom: 10px; 
    font-size: 1em;
    z-index: 2;
    padding-right: 10px;
    
}