@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

body {
  margin: 0;
  font-size: 20px;
  /* font-family: 'Niconne', cursive; */
  font-family: 'Marck Script', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101417;;
  color: #FFFAF3;
  overflow-x: hidden;
  text-align: center;
  h2{
    font-size: 2.2em;
    z-index: 6;
  
  }
}

.App {
  background-color: #101417;
}

@media (max-width: 768px) { 
  body{
    font-size: 14px;
  }
}

