footer{
    text-align: center;
    font-size: 18px;
    min-height: 30px;
    padding: 10px;
    p{
        a {
            text-decoration: none;
            color: #FFA619;
        }
    }
    
}

